 <!--footer-->
  <div class="footer">
    <div class="width_1100 clearfix">
     <span><img src="__IMG__/logo01.png" /></span>
     <div class="footxt"><p><if condition="$versionid eq 1">华中科技大学生命与科学技术学院 版权所有 鄂ICP备05002857号 文保网安备案1101050063号<else/>College of life and science and technology, Huazhong University of Science and Technology All rights reserved Hubei ICP No. 05002857 security network security record number 1101050063</if></p>
     <p><if condition="$versionid eq 1">地址：湖北省武汉市珞喻路1037号 邮编：100101 联系我们<else/>Address: Hubei Province, Wuhan 1037 Luoyu road zip code: 100101 contact us</if></p></div>
    </div>
  </div>
</div>
</body>
</html>