<!-- 代表成果列表的模板 -->
   <div class="ky_program mrt30">
     <ul class="cg_list clearfix">
     <volist name="lists" id="vo">
        <li>
         <div class="cg_left_left"><i class="quare"></i></div>
         <div class="cg_list_right">
           <h3>
               <a href="{sk::U('News/news',array('pid'=>$pid,'cateid'=>$cateid,'versionid'=>$versionid,'id'=>$vo['id']))}" class="fs18" title="{sk:$vo.title}" title="{sk:$vo.title}"><font color="{sk:$vo['color']}" class="abc">{sk:$vo.title}</font></a>
           </h3>
            <if condition="$vo['subtitle'] neq ''">
           <h4 class="subtitle">{sk:$vo.subtitle|msubstr=0,90}</h4>
          </if>
           <hr />
           <p class="con">{sk:$vo.content|htmlspecialchars_decode|strip_tags|msubstr=0,160}</p>
           <a href="{sk::U('News/news',array('pid'=>$pid,'cateid'=>$cateid,'versionid'=>$versionid,'id'=>$vo['id']))}" class="color_blue xq"><if condition="$versionid eq 1">点击查看详情<else/>Click to view the details</if>>></a>
         </div>
       </li>
     </volist>
     </ul>
      <span class="guidelist">{sk:$page}</span>
    </div>  
   </div> 
  </div>