 <div class="ky_lunwen mrt30">
       <!--科研奖励-->
         <ul class="jl_list">
           <volist name="lists" id="vo">
            <li>
            <div class="jl_list_left fl"> <a href="{sk::U('News/news',array('pid'=>$pid,'cateid'=>$cateid,'versionid'=>$versionid,'id'=>$vo['id']))}"><img src="{sk:$vo.pic}" /></a></div>
             <div class="jl_list_right">
               <h3>
                 <a href="{sk::U('News/news',array('pid'=>$pid,'cateid'=>$cateid,'versionid'=>$versionid,'id'=>$vo['id']))}" class="fs18 ells" title="{sk:$vo.title}"><font color="{sk:$vo.color}" class="abc">{sk:$vo.title}</font></a>
               </h3>
               <if condition="$vo['subtitle'] neq ''">
               <h4>{sk:$vo.subtitle}</h4>
               </if>
               <hr />
               {sk:$vo.content|htmlspecialchars_decode|strip_tags|msubstr=0,300}
             </div>
            </li>
          </volist>
         </ul>
        <span class="guidelist">{sk:$page}</span>
    </div>
   </div> 
  </div>