 <!--分配两个版本的每个一级栏目下的静态banner --> 
<div class="bg_banner">
 	<in name="pid" value="1,26">
 		<img src="{sk:$pics[0]['pic']}" width="100%"/> 
 	</in>
 	<in name="pid" value="2,27">
 		<img src="{sk:$pics[1]['pic']}" width="100%"/> 
 	</in>
 	<in name="pid" value="3,28">
 		<img src="{sk:$pics[2]['pic']}" width="100%"/> 
 	</in>
 	<in name="pid" value="4,29">
 		<img src="{sk:$pics[3]['pic']}" width="100%"/> 
 	</in>
 	<in name="pid" value="5,30">
 		<img src="{sk:$pics[4]['pic']}" width="100%"/> 
 	</in>
 	<in name="pid" value="6,31">
 		<img src="{sk:$pics[5]['pic']}" width="100%"/> 
 	</in>
 	<in name="pid" value="7,32">
 		<img src="{sk:$pics[6]['pic']}" width="100%"/> 
 	</in>
 	<in name="pid" value="8,33">
 		<img src="{sk:$pics[7]['pic']}" width="100%"/> 
 	</in>
 	<in name="pid" value="9,34">
 		<img src="{sk:$pics[8]['pic']}" width="100%"/> 
 	</in>
</div>