<include file="Public:header" />
<div id="main">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="box">
          <div class="box-title">
            <div class="span10">
              <h3><i class="icon-plus"></i>添加管理员</h3>
            </div>
            <div class="span2"><a class="btn" href="Javascript:history.back();">返回</a></div>
          </div>
          <div class="box-content">
          <form action="{sk::U('Roleuser/insert')}" method="post" id="form1" name="form1" class="form-horizontal form-validate">
          	  <div class="control-group">
              <label for="username" class="control-label">管理员名：</label>
                <div class="controls">
                  <input type="text" name="username" id="username" class="input-large" data-rule-required="true" data-rule-maxlength="20"  placeholder="输入管理员的昵称" value=""/>
                  <span class="maroon">*</span> <span class="help-inline">最多20个字符</span> </div>
              </div>
               <div class="control-group">
                <label for="password" class="control-label">密码：</label>
                <div class="controls">
                  <input type="password" name="password" id="password" class="input-large" data-rule-required="true" data-rule-rangelength="6,20" placeholder="请输入6~20位的密码" value="" />
                  <span class="maroon">*</span> <span class="help-inline"></span> </div>
              </div>
               <div class="control-group">
                <label for="password2" class="control-label">确认密码：</label>
                <div class="controls">
                  <input type="password" name="password2" id="password2" class="input-large" data-rule-required="true" data-rule-equalTo="#password" data-rule-rangelength="6,20" value="" placeholder="密码要保持一致哦" data-msg-equalTo="确认密码要与密码一致"/>
                  <span class="maroon">*</span> <span class="help-inline"></span> </div>
              </div>
              <div class="control-group">
                <label for="roleid" class="control-label">所属角色：</label>
                <div class="controls">
                  <select name="roleid" id="roleid">
                  <volist name="rolelist" id="vor">
                  <option value="{sk:$vor.id}">{sk:$vor.rolename}</option>
                  </volist>
                  </select>
                  <span class="maroon">*</span> <span class="help-inline"></span> </div>
              </div>

              <div class="control-group">
                <label for="remark" class="control-label">备注：</label>   
                <div class="controls">
                  <input type="text" name="remark" id="remark" class="input-xlarge" data-rule-required="true"  placeholder="请输入管理员的备注信息" value="" />
                   <span class="help-inline"></span> </div>
              </div>
              <div class="control-group">
                <label for="status" class="control-label">是否启用：</label>
                <div class="controls">
                  <select name="status" id="status">
                  <option value="1">启用</option>
                  <option value="2">禁用</option>
                  </select>
                  <span class="maroon">*</span> <span class="help-inline"></span> </div>
              </div>
             <div class="form-actions">
                <button id="bsubmit" type="submit" data-loading-text="提交中..." class="btn btn-primary">保存</button>
                <a class="btn" href="javascript:history.back();">取消</a> 
             </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="Public:footer" />