<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="{sk::STATICS}/kindeditor/themes/default/default.css" />
<script type="text/javascript" src="{sk::STATICS}/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="{sk::STATICS}/kindeditor/lang/zh_CN.js"></script>
<div id="main">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="box">
          <div class="box-title">
            <div class="span10">
              <h3><i class="icon-plus"></i>添加图片管理</h3>
            </div>
            <div class="span2"><a class="btn" href="Javascript:history.back();">返回</a></div>
          </div>
          <div class="box-content">
          <form action="{sk::U('Pics/insert')}" method="post" id="form1" name="form1" class="form-horizontal form-validate">
              <div class="control-group">
                <label for="type" class="control-label">网站版本：</label>
                 <div class="controls">
                 <select class="input-large" name="versionid"  data-rule-required="true" data-rule-notem="true">
                  <volist name="versionname" id="vo">
                    <option value="{sk:$vo.versionid}">{sk:$vo.versionname}</option>
                  </volist>
                 </select>
                  <span class="maroon">*</span> <span class="help-inline"></span></div>
              </div>
              <div class="control-group">
                <label for="title" class="control-label">图片标题描述：</label>
                <div class="controls">
                  <input type="text" name="title" class="input-large" data-rule-required="true" data-rule-maxlength="80" placeholder="请注明是logo还是静态banner" value="" />
                  <span class="maroon">*</span> <span class="help-inline">请注明是“logo”还是“静态banner”</span> </div>
              </div>
               <div class="control-group">
                <label class="control-label" for="pic">上传图片:</label>
                <div class="controls">
                  <input type="text" id="pic" name="pic" data-rule-required="true" class="input-xlarge" readonly value="" />
                  <button class="btn btn-primary select_img" type="button">选择图片</button>
                  <span class="maroon">*</span> <span class="help-inline">{sk::gettips('category','pic',1)}</span></div>
              </div>
              <div class="control-group">
                <label for="status" class="control-label">是否启用：</label>
                <div class="controls">
                  <select name="status" id="status">
                  <option value="1">启用</option>
                  <option value="2">禁用</option>
                  </select>
                  <span class="help-inline"></span> </div>
              </div>
             <div class="control-group">
                <label for="sort" class="control-label">排序号：</label>
                <div class="controls">
                  <input type="text" name="sort" id="sort_order" class="input-small"  value="0" onkeyup="value=value.replace(/[^\d]/g,'')"  onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
                  <span class="maroon">*</span>  
                  <span class="help-inline"></span><font color="red">数字越大排序越靠前</font></div>
              </div>
             <div class="form-actions">
                <button name="dosubmit" id="dosubmit" type="submit" data-loading-text="提交中..." class="btn btn-primary">保存</button>
                <a class="btn" href="javascript:history.back();">取消</a> 
             </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="Public:footer" />