<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<base target="mainFrame" />
<title>{sk::C('site_title')} {sk::C('site_name')}</title>
<link href="{sk::RES}/css/index.css" rel="stylesheet" type="text/css"  media="all" />
<link type="text/css" rel="stylesheet" href="{sk::RES}/css/bootstrap_min.css"  media="all"/>
<link type="text/css" rel="stylesheet" href="{sk::RES}/css/bootstrap-responsive.min.css" media="all" />
<link href="{sk::RES}/css/style.css" rel="stylesheet" type="text/css"  media="all"/>
<link rel="stylesheet" type="text/css" href="{sk::RES}/font/font-awesome.css" media="all" />
<link rel="stylesheet" type="text/css" href="{sk::RES}/css/theme.css"  media="all"/>
<link rel="stylesheet" type="text/css" href="{sk::RES}/css/todc_bootstrap.css" media="all" />
<link rel="stylesheet" type="text/css" href="{sk::RES}/css/inside.css" media="all" />
<script type="text/javascript" src="{sk::RES}/js/jquery.js"></script>
<script type="text/javascript" src="{sk::RES}/js/common.js"></script>
<script type="text/javascript" src="{sk::RES}/js/bootstrap.js"></script>
<script type="text/javascript" src="{sk::RES}/js/html5shiv.js"></script>
<script type="text/javascript" src="{sk::RES}/js/application.js"></script>
<script type="text/javascript" src="{sk::RES}/js/inside.js"></script>
<script type="text/javascript" src="{sk::RES}/js/resource.js"></script>
<!--表单验证-->
<script type="text/javascript" src="{sk::RES}/js/jquery_form_min.js"></script>
<script type="text/javascript" src="{sk::RES}/js/jquery_validate_min.js"></script>
<script type="text/javascript" src="{sk::RES}/js/jquery_validate_methods.js"></script>
</head>
<body>
